<h2>Edit category</h2>
<div class="row">
  <%= render "form.html", changeset: @changeset,
                          action: category_path(@conn, :update, @category) %>
</div>
<%= link "Back", to: category_path(@conn, :index) %>
