<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="row">
    <%= label f, :title, class: "text-label" %>
    <%= text_input f, :title, class: "text-input" %>
    <%= error_tag f, :title %>
  </div>


  <div class="row">
    <%= submit "Submit", class: "button" %>
  </div>
<% end %>
