<h2>New category</h2>

<div class="row">
  <%= render "form.html", changeset: @changeset,
                          action: category_path(@conn, :create) %>
</div>

<%= link "Back", to: category_path(@conn, :index) %>
