<h2>Show category</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @category.title %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @category.slug %>
  </li>

</ul>

<%= link "Edit", to: category_path(@conn, :edit, @category) %>
<%= link "Back", to: category_path(@conn, :index) %>
