<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @post.slug %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= raw @post.content %>
  </li>

</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
