body {
  margin: 0;
  overflow-y: scroll;

  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;

  background: #ede4f0;
  color: #222;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
}

a {
  color: #4bb;
}

* {
  box-sizing: border-box;
}

input, label, button {
  font-size: 1rem;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  list-style-type: none;
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 0.2rem;
}

.admin-panel {
  background: #333;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.admin-panel .nav {
  margin: 0;
}
.admin-panel a {
  color: #fff;
}
.admin-panel__wrapper {
  height: 50px;
}

.header {
  margin-top: 30px;
  margin-bottom: 50px;
}

.post {
	margin-bottom: .5rem;
	padding: 1.5rem;
	background: #fff;
}

.post__title {
	color: inherit;
  margin-top: 0;
}
.post__title h2 {
  margin-top: 0;
}
.post__title:hover {
	color: inherit;
}

.post__link {
  display: block;
  margin-top: 1rem;
}

.footer {
  margin-top: 4rem;
  padding: 3rem 0;
  background: #4bb;
  color: #fff;
  text-align: center;
}
